<header>
	<h1>Learn those formulas!</h1>
	Chemical formula flashcard simulator
</header>

<nav>
	<a routerLink="/type/aminoacid" routerLinkActive="selected">Amino acids</a>
	<a routerLink="/type/polycyclic" routerLinkActive="selected">Polycyclic compounds</a>
	<a routerLink="/type/heterocyclic" routerLinkActive="selected">Heterocyclic compounds</a>
	<a routerLink="/type/nucleobase" routerLinkActive="selected">Nucleobases</a>
	<a routerLink="/type/vitamin" routerLinkActive="selected">Vitamins</a>
</nav>

<main>
	<router-outlet></router-outlet>
</main>
